{% extends 'apps/Base.html' %}
{% block title %} BecasTec{% endblock %}

{% block vista %}
   <style>
* {
  box-sizing: border-box;
}

#myInput {

  width: 90%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
</style>
    <br>
<div class="container bg_r" bg_r>
<input type="text" id="myInput" onkeyup="myFunction()" placeholder="Ingresa tu numero de control o nombre" title="Registros">

<table id="myTable">
  <tr class="header">
    <th style="width:40%;">No. Control</th>
    <th style="width:40%;">Fecha Registrada</th>
      <th style="width:40%;">Hora Registrada</th>
  </tr>
  <tbody>
				<tr>

				{% for p in object_list %}

					<td>{{ p.nocontrol }}</td>
					<td>{{ p.FechaReg }}</td>
					<td>{{ p.HoraRef }}</td>

				</tr>

			{% endfor %}

			</tbody>
</table>
</div>
<script>
function myFunction() {
  var input, filter, table, tr, td, i;
  input = document.getElementById("myInput");
  filter = input.value.toUpperCase();
  table = document.getElementById("myTable");
  tr = table.getElementsByTagName("tr");
  for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("td")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }
  }
}
</script>


{% endblock %}